AMBIENTE_APLICACAO=rede
IP_SERVICO=192.168.1.10
ANFITRIAO_WEB=0.0.0.0
PORTA_WEB=8001
ANFITRIAO_GRPC=0.0.0.0
PORTA_GRPC=50051
URL_BASE_DADOS=sqlite:///./dados/identificacao_civil.db
ALVO_GRPC_IDENTIFICACAO_CIVIL=192.168.1.10:50051
ALVO_GRPC_REGISTO_CRIMINAL=192.168.1.11:50052
TEMPO_LIMITE_GRPC_SEGUNDOS=3
ALVO_GRPC_SERVICO_MILITAR=192.168.1.12:50053
