AMBIENTE_APLICACAO=desenvolvimento
IP_SERVICO=127.0.0.1
ANFITRIAO_WEB=127.0.0.1
PORTA_WEB=8001
ANFITRIAO_GRPC=127.0.0.1
PORTA_GRPC=50051
URL_BASE_DADOS=sqlite:///./dados/identificacao_civil.db
ALVO_GRPC_IDENTIFICACAO_CIVIL=127.0.0.1:50051
ALVO_GRPC_REGISTO_CRIMINAL=127.0.0.1:50052
TEMPO_LIMITE_GRPC_SEGUNDOS=3
ALVO_GRPC_SERVICO_MILITAR=127.0.0.1:50053
