AMBIENTE_APLICACAO=desenvolvimento
IP_SERVICO=127.0.0.1
ANFITRIAO_WEB=127.0.0.1
PORTA_WEB=8002
ANFITRIAO_GRPC=127.0.0.1
PORTA_GRPC=50052
URL_BASE_DADOS=sqlite:///./dados/registo_criminal.db
ALVO_GRPC_IDENTIFICACAO_CIVIL=127.0.0.1:50051
TEMPO_LIMITE_GRPC_SEGUNDOS=3
ALVO_GRPC_REGISTO_CRIMINAL=127.0.0.1:50052
ALVO_GRPC_SERVICO_MILITAR=127.0.0.1:50053
