ANFITRIAO_WEB=127.0.0.1
PORTA_WEB=8003
ANFITRIAO_GRPC=127.0.0.1
PORTA_GRPC=50053
URL_BASE_DADOS=sqlite:///./dados/servico_militar.db
ALVO_GRPC_IDENTIFICACAO_CIVIL=127.0.0.1:50051
ALVO_GRPC_REGISTO_CRIMINAL=127.0.0.1:50052
TEMPO_LIMITE_GRPC_SEGUNDOS=3
