AMBIENTE_APLICACAO=rede
ANFITRIAO_WEB=0.0.0.0
PORTA_WEB=8000
ALVO_GRPC_IDENTIFICACAO_CIVIL=192.168.1.10:50051
ALVO_GRPC_REGISTO_CRIMINAL=192.168.1.11:50052
ALVO_GRPC_SERVICO_MILITAR=192.168.1.12:50053
TEMPO_LIMITE_GRPC_SEGUNDOS=3
