AMBIENTE_APLICACAO=desenvolvimento
ANFITRIAO_WEB=127.0.0.1
PORTA_WEB=8000
ALVO_GRPC_IDENTIFICACAO_CIVIL=127.0.0.1:50051
ALVO_GRPC_REGISTO_CRIMINAL=127.0.0.1:50052
ALVO_GRPC_SERVICO_MILITAR=127.0.0.1:50053
TEMPO_LIMITE_GRPC_SEGUNDOS=3
